/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>LOGIN PAGE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#navbar{
    margin-left:45%;

}

#Create{

    margin-left:60%;
    justify-content: center;
    font-weight:200;
}

.fpassword{
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
}

#butt{
    width:18vw;
    height:8vh;
    border: none;
}

#box{
    height:80vh;
    border-radius:2.5%;
       
}

#head{
    
    text-align:center;
}





/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  Nave BAr  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

#CA{
    margin-left:100px;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>   >register> >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#but{
    display: flex;
    
    
}



/* ********************************* Card    ************************************************ */
.card{
    width:18rem;
    /* flex-direction: row; */
}

.set1 {
    display: flex;
    justify-content: space-around;
}


.set2 {
    display: flex;
    justify-content: space-around;
}


/* ************************** * front ************************************************* */
.MDB{
    width:60vw;
    margin-left:20%;

}

.profile_pic{
    width:10vw;
    
    margin-top:-12%;
    position: sticky;
    justify-content:center;
    font-weight: bold;
    

}