#sidebar {
  position: sticky;
  top: 20vh;
  font-size: 2.6vh;
  color: gray;
  height: 665;
  position:'sticky';
  top:0;
}
#topic{
  color: gray;
}
#topic:hover {
  color: #00FFFF;
}
@media screen and (max-width: 1000px) {
  #sidebar {
    display: none;
}}